.btn {
    text-align: center;
    background-color: #005e66;
    color: white;
}

#project {
    margin-right: 15px;
}

#repo {
    margin-left: 15px;
}

.card {
    background-color: #00181a;
    border-width: 1px;
    margin-top: 10px;
    border-color: #005e66;
}