#bio-card {
    border-width: 1px;
    max-width: 1200px;
}

h5 {
    text-align: center;
    font-weight: bold;
    border-top-style: solid;
}

a {
    color: rgb(15, 190, 15);
}

.col-sm-4 {
    padding: 20px;
}

#contact {
    text-align: center;
    font-weight: bold;
    border-top-style: solid;
}