#bio-card {
    border-width: 1px;
    max-width: 1200px;
    margin-top: 10px;
}

h5 {
    text-align: center;
    font-weight: bold;
    padding-top:10px;
    border-top-style: solid;
    border-radius: 8px; ;
}

.col-sm-4 {
    padding: 20px;
}

#contact {
    text-align: center;
    font-weight: bold;
    border-top-style: solid;
}

a {
    padding-left: 25px;
}